@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

* {
    font-family: 'Montserrat', sans-serif;
    background-color: #023047;
    color: #8ecae6;
    box-sizing: border-box;

}

.app {
    width: 100vw;
}
